# Homework 1

In this homework, you'll be creating your own function to perform a mathematical operation on a data frame that you import from an Excel spreadsheet.

1. Import the `numpy` and `pandas` libraries.

In [49]:
import numpy as np
import pandas as pd
#import scipy as sp
from scipy import stats

2. Import the spreadsheet `covid_worldwide.csv`, which reports COVID cases and fatalities for each country worldwide (adapted from [Kaggle](https://www.kaggle.com/datasets/themrityunjaypathak/covid-cases-and-deaths-worldwide?resource=download)) and store that information into a variable called `data`. Please use the column called "Country" (i.e. the second column from the left) as your index column. Then use `data.head()` to show the start of the data frame.

**Hint:** The function `pandas.read_csv()` reads in .csv files, and you can use it in a similar way as we did with `pandas.read_excel()` to read in Excel files in class.

In [31]:
dh = pd.read_csv('covid_worldwide.csv')
data = dh.to_numpy
dh.head()

,Serial Number,Country,Total Cases,Total Deaths,Total Recovered,Active Cases,Total Test,Population
0,1,USA,104196861,1132935.0,101322779.0,1741147.0,1.159833e+09,3.348053e+08
1,2,India,44682784,530740.0,44150289.0,1755.0,9.152658e+08,1.406632e+09
2,3,France,39524311,164233.0,39264546.0,95532.0,2.714902e+08,6.558452e+07
3,4,Germany,37779833,165711.0,37398100.0,216022.0,1.223324e+08,8.388360e+07
4,5,Brazil,36824580,697074.0,35919372.0,208134.0,6.377617e+07,2.153536e+08

In [34]:
tds = dh['Total Deaths']

t3d = np.ndarray(3)
#type(t3d)

In [45]:
t3d[:] = tds.loc[0:2]
print(t3d)
T3D = t3d.to_numpy
type(T3D)

0    1132935.0
1     530740.0
2     164233.0
Name: Total Deaths, dtype: float64

method

3. Define a function called `geom_mean3` that accepts as input an ndarray with 3 elements, calculates the geometric mean of the elements of the array, and outputs the resulting geometric mean value.

**Hints**: The geometric mean formula can be found [here](https://byjus.com/geometric-mean-formula/), and the *n*th root of a value is equivalent to calculating the exponent of (1/*n*).

In [50]:
def gm3(a):
    b = stats.gmean(a)
    return(b)

4. Create a variable called `Top3Deaths` to store as an ndarray the values of "Total Deaths" from the countries represented in the first 3 rows. The first element in the ndarray will be the number of total deaths from the country in the first row of the data frame, the second element in the ndarray will be the number of total deaths from the country in the second row, etc.
**Hints**: You will likely need to slice a subset from the data frame using `.iloc[]` or `.loc[]`, and also use `.to_numpy()`

5. Use the function that you created in question 3 to calculate the geometric mean of the values in Top3Deaths.

In [51]:
print(gm3(t3d))

462220.3690539412